<form class="signup-form" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
  <div class="signup-form__header">
    <p>{{'auth.signup' | translate}}</p>
  </div>
  <div class="signup-form__input">
    <input formControlName="firstName" type="text" placeholder="{{'auth.firstName' | translate}}"/>
  </div>
  <div class="signup-form__input">
    <input formControlName="lastName" type="text" placeholder="{{'auth.lastName' | translate}}"/>
  </div>
  <div class="signup-form__input">
    <input formControlName="email" type="text" placeholder="{{'auth.email' | translate}}"/>
  </div>
  <div class="signup-form__input">
    <input formControlName="password" type="password" placeholder="{{'auth.password' | translate}}"/>
  </div>
  <div class="signup-form__actions">
    <button type="submit" [disabled]="signupForm.invalid">{{'auth.submit' | translate}}</button>
  </div>
  <div class="signup-form__links">
    <a routerLink="/auth/login">{{'auth.alreadyHaveAccount' | translate}}</a>
  </div>
</form>
