<form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="login-form__header">
    <p>{{'auth.login' | translate}}</p>
  </div>
  <div class="login-form__input">
    <input matInput formControlName="email" type="text" placeholder="{{'auth.email' | translate}}"/>
  </div>
  <div class="login-form__input">
    <input matInput formControlName="password" type="password" placeholder="{{'auth.password' | translate}}"/>
  </div>
  <div class="login-form__actions">
    <button mat-button type="submit">{{'auth.submit' | translate}}</button>
  </div>
  <div class="login-form__links">
    <a routerLink="/auth/signup">{{'auth.noAccountYet' | translate}}</a>
  </div>
</form>
