
<form class="container" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="container__item">
    <p i18n>Log in</p>
  </div>
  <div class="container__item">
    <input formControlName="email" type="text" pInputText placeholder="Email"/>
  </div>
  <div class="container__item">
    <input formControlName="password" type="password" pInputText placeholder="Password"/>
  </div>
  <div class="container__item">
    <button type="submit">Submit</button>
  </div>
  <div class="container__links">
    <a i18n routerLink="/auth/signup">No Account Yet?</a>
  </div>
</form>
