<div class="table-container">
  <table mat-table [dataSource]="users" class="mat-elevation-z8">

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef class='mat-header-cell'>{{'users.email' | translate}}</th>
      <td mat-cell *matCellDef="let element" (click)="onNavigateToUser(element.id)" class="mat-cell">
        {{element.email}}
      </td>
    </ng-container>

    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef class='mat-header-cell'>{{'users.firstName' | translate}}</th>
      <td mat-cell *matCellDef="let element" class="mat-cell">
        {{element.firstName}}
      </td>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef class='mat-header-cell'>{{'users.lastName' | translate}}</th>
      <td mat-cell *matCellDef="let element" class="mat-cell">
        {{element.lastName}}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns" class="mat-row"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="mat-row"></tr>
  </table>
</div>
